<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body th:bgcolor="PowderBlue">
<form th:method="POST" th:action="@{/admin/edit(id=${user.getId()})}" th:object="${user}" th:align="center">
    <table th:border="0" th:cellpadding="10" th:align="center">
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Surname:</td>
            <td><input type="text" th:field="*{surname}"/>
            <td>
        </tr>
        <tr>
            <td>Username:</td>
            <td><input type="text" th:field="*{username}"/></td>
        </tr>
        <tr>
            <td>Age:</td>
            <td><input type="text" th:field="*{age}"/></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="text" th:field="*{password}"/></td>
        </tr>
    </table>
    <input type="submit" value="Update" th:align="center">
</form>
<p th:align="center">
    <button class="button" type="button" onClick='location.href="http://localhost:8080/logout"'/>
    Выйти из аккаунта</button>
    <style>
        button {
            color: darkmagenta;
            background-color: lightcoral;
        }

        button {
            font-size: 30px;
        }

        button:hover {
            color: midnightblue;
            background-color: red;
        }
    </style>
</p>
</body>
</html>