<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
</head>
<body th:bgcolor="Honeydew">

<h1 th:align="center">Hello, it's a homepage</h1>
<style>
    h1 {
        font-size: 120px;
    }

    h1 {
        color: mediumvioletred;
    }

</style>

<p th:align="center">
    <button class="button" type="button" onClick='location.href="http://localhost:8080/login"'>
        Войти
    </button>
    <style>
        button {
            color: darkmagenta;
            background-color: lightcoral;
        }

        button {
            font-size: 100px;
        }

        button:hover {
            font-size: 150px;
            color: green;
            background-color: lightgoldenrodyellow;
        }
    </style>
</p>

</body>
</html>