<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body th:bgcolor="PowderBlue">
<p>

<form th:align="center" class="create" th:method="GET" th:action="@{/admin/add}" style="margin-top: 50px"
>
    <input type="submit" value="Create new user">
</form>
</p>
<table th:border="6" th:align="center" th:width="500" th:bgcolor="NavajoWhite" th:cellspacing="5" th:cellpadding="20"
       style="margin-top: 25px">
    <tread>
        <tr th:bgcolor="AntiqueWhite">
            <th>Name</th>
            <th>Surname</th>
            <th>Age</th>
            <th colspan="2">Actions</th>
        </tr>
    </tread>
    <tbody>
    <tr th:each="user : ${users}">
        <td><span th:text="${user.getName()}"> Name </span></td>
        <td><span th:text="${user.getSurname()}"> Surname </span></td>
        <td><span th:text="${user.getAge()}"> Age </span></td>
        <td>
            <a th:href="@{/admin/edit(id=${user.getId()})}">
                <form><input type="button" value="Edit"></form>
            </a>
        </td>
        <td>
            <form th:method="POST" th:action="@{/admin/delete(id=${user.getId()})}">
                <input type="submit" value="Delete">
            </form>
        </td>
    </tr>
    </tbody>
</table>
<p th:align="center">
    <button class="button" type="button" onClick='location.href="http://localhost:8080/logout"'/>
    Выйти из аккаунта</button>
    <style>
        button {
            color: darkmagenta;
            background-color: lightcoral;
        }

        button {
            font-size: 30px;
        }

        button:hover {
            color: midnightblue;
            background-color: red;
        }
    </style>
</p>
&nbsp
</body>
</html>
